# You will probably want to change these lines
mysql_host = "localhost";
mysql_user = "rpi_engine";
mysql_passwd = "rpi_engine2007";

# Check these too:
engine_db = "rpi_engine";
player_db = "rpi_player";
player_log_db = "rpi_player_log"
world_db = "rpi_world";
world_log_db = "rpi_world_log";

server_mode = "play";
server_port = "4500";
server_path_play = "/usr/local/games/rpi_engine/pp";
server_path_build = "/usr/local/games/rpi_engine/bp";
server_path_test = "/usr/local/games/rpi_engine/tp";
